<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sorpluserend">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sorpl"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sorpl"
        android:supportsRtl="true">

        <service
            android:name=".Services.MyFireBaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomePage.MVP.HomeActivity"
            android:label="Home"
            android:theme="@style/AppTheme2"/>
        <activity
            android:name=".SignUp.MVP.SignUpActivity"
            android:label="SignUp"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".OTP.MVP.OTPActivity"
            android:label="OTP"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".LogIn.MVP.LogInActivity"
            android:label="Log In"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".ContactUs.MVP.ContactActivity"
            android:label="Contact Us"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".FAQ.MVP.FAQActivity"
            android:label="FAQ's"
            android:theme="@style/AppTheme"/>
        <activity android:name=".AboutUs.AboutUsActivity"
            android:label="About Us"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".History.MVP.HistoryActivity"
            android:label="History"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Cart.CartActivity"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>