<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sorpluserend">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/barrel"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/barrel"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LogIn.MVP.LogInActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomePage.MVP.HomeActivity"
            android:label="LogIn"/>
        <activity android:name=".SignUp.MVP.SignUpActivity"
            android:label="SignUp"/>
    </application>

</manifest>